<ion-header>
  <ion-navbar>
      <button ion-button menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card *ngIf=(albumOfTheDay) class="imageCard">
    <ion-card-header text-center>album of the day: </ion-card-header>
    <button (click)="openAlbum(albumOfTheDay.url)">
      <img src="{{albumOfTheDay.img}}" />
      <ion-card-title> {{albumOfTheDay.title}} </ion-card-title>
    </button>
    <ion-card-content>
      <button ion-item (click)="openProfile(albumOfTheDay.author.profile)">
        <h2>by {{albumOfTheDay.author.name}}</h2>
        <ion-avatar item-end>
          <img src="{{albumOfTheDay.author.pic}}" height="auto" alt="">
        </ion-avatar>
      </button>
      <ion-item>
        <button ion-button item-start text-center>
          <ion-icon small name="thumbs-up"> </ion-icon>
          {{ albumOfTheDay.thumbs }}
        </button>
        <span item-end text-center>
          <ion-icon name="musical-notes"></ion-icon>
          <p>{{ albumOfTheDay.listened }}</p>
        </span>
        <span item-end text-center>
          <ion-icon>Tracks</ion-icon>
          <p>{{ albumOfTheDay.total }}</p>
        </span>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header text-center>latest uploads:</ion-card-header>
    <ion-card-content>
      <!--       <ion-card-title text-center>latest uploads:</ion-card-title> -->
      <ion-list *ngIf="latestTracks">
        <button ion-item *ngFor="let track of latestTracks; let i = index;" (click)="trackTapped($event, track)">
          <ion-avatar item-start>
            <img class="trackimage" src="https://wloops2.r.worldssl.net/ava400/{{ track.pic }}" alt="">
          </ion-avatar>
          <ion-label item-end>
            {{ track.title }}
          </ion-label>
          <div item-content>
            <button ion-button clear small>
              <ion-icon name="thumbs-up"></ion-icon>
              <p>{{ track.mythumb }}</p>
            </button>
          </div>
        </button>

      </ion-list>
      <button ion-button full text-center (click)="openTracklist()">more new jams...</button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header text-center>latest forum posts:</ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let post of [1,2,3]; let i = index;">
        <!--   <button ion-button (click)="openAlbum('https://www.wikiloops.com/forum/viewthread.php?thread_id=1712#post_13212')"> -->
        <ion-avatar item-start>
          <img src="https://wloops2.r.worldssl.net/ava51/wl-352441470948020.png" alt="">
        </ion-avatar>

        <ion-label>
          <p>by ellouidir on February 18 2018 20:14:43</p>
        </ion-label>
        <div item-content>
          Auteur(e) de texte en français sur wikiloops
        </div>

      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
