<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Wikiloops Tracklist
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid *ngIf="tracklist">
    <ion-row *ngFor="let track of tracklist; let i = index;">
      <ion-col width-100>
        <ion-card>
          <ion-card-header text-center>
            <button ion-button clear (click)="trackTapped($event, track)">
              <ion-card-title>{{ track.title }}</ion-card-title>
            </button>
          </ion-card-header>

          <ion-card-content>
            <ion-item>
              <ion-label>Artist:</ion-label>
              <div item-content>{{ track.artist }}</div>
            </ion-item>
            <ion-item>
              <ion-label>Genre: </ion-label>
              <div item-content>{{ track.genre }}</div>
            </ion-item>
            <ion-item>
              <ion-label>Instruments: </ion-label>
              <div item-content>
                <span *ngFor="let musician of track.musicians;">
                  {{ musician.instrument }},
                </span>
                <br>
              </div>
            </ion-item>
            <!-- {{ track.desc }} -->

          </ion-card-content>
          <ion-row center text-center>
            <ion-col>
              <button ion-button clear small>
                <ion-icon name="time"></ion-icon>
                <div>{{ track.shared }}</div>
              </button>
            </ion-col>
            <ion-col>
              <button ion-button clear small>
                <ion-icon name="thumbs-up"></ion-icon>
                <div>{{ track.mythumb }}</div>
              </button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col center text-center>
              <ion-note>
                <button ion-button item-end full (click)="trackTapped($event, track)">Go to Track</button>
              </ion-note>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-navbar></ion-navbar>
</ion-footer>