<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ selectedTrack.title }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col width-100>
        <ion-card class="imageCard">
          <ion-card-header text-center>
            by {{ selectedTrack.artist }}
          </ion-card-header>

          <ion-card-title>{{ selectedTrack.artist }}</ion-card-title>
          <img class="trackimage" src="https://wloops2.r.worldssl.net/ava400/{{ selectedTrack.pic }}" alt="">

          <ion-card-content>
            <!--  <ion-card-title text-center>{{ selectedTrack.title }}</ion-card-title> -->
            <ion-list>

              <ion-item>
                <p item-content>{{ selectedTrack.desc }}</p>
              </ion-item>
              <ion-item>
                <ion-label>Genre:</ion-label>
                <div item-content>{{ selectedTrack.genre }}</div>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-icon name="thumbs-up"></ion-icon>
                </ion-label>
                <div item-content>{{ selectedTrack.mythumb }}</div>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-icon name="time"></ion-icon>
                </ion-label>
                <div item-content>{{ selectedTrack.shared }}</div>
              </ion-item>
              <ion-item>
                <ion-label>
                  Listened:
                </ion-label>
                <div item-content>{{ selectedTrack.count }}</div>
              </ion-item>
              <ion-item>
                <ion-label>
                  Remixes:
                </ion-label>
                <div item-content>{{ selectedTrack.remixe }}</div>
              </ion-item>

              <ion-item *ngIf="checkTrack == -1; else inPlaylist;" text-center>
                <button ion-button (click)="currentTrack = selectedTrack">Play</button>
                <button ion-button (click)="add(selectedTrack)">Add</button>
              </ion-item>
              <ng-template #inPlaylist text-center>
                <button ion-button small (click)="currentTrack = selectedTrack">Play</button>
              </ng-template>

              <ion-item>
                <audio controls>
                  <source src="{{ selectedTrack.path }}{{ selectedTrack.dir }}/{{ selectedTrack.file }}" type="audio/mpeg"> Your browser does not support the audio element.
                </audio>
              </ion-item>

            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-card>

      <ion-card-header>
        <ion-icon item-left name="list">Musicians</ion-icon>

        <!--        <ion-icon name="git-merge"></ion-icon>
       <ion-icon name="menu"></ion-icon> -->
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let musician of selectedTrack.musicians;">
            <ion-avatar item-start>
              <img src="https://wloops2.r.worldssl.net/ava100/{{ musician.pic }}" alt="">
            </ion-avatar>
            <ion-label>
              <h2>{{ musician.name }}</h2>
              <p>{{ musician.instrument }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-icon item-left name="git-merge">Remixes</ion-icon>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-icon item-left name="chatbubbles">Comments</ion-icon>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <!--   <ion-list *ngIf="playlist.length > 0">
      <ion-list-header no-lines inset>
        PLAYLIST
        <button ion-button clear item-right (click)="clear()">Clear</button>
      </ion-list-header>
      <ion-item text-center>
        <audio-track #audioTrack [track]="currentTrack" [autoplay]="true" (onFinish)="onTrackFinished($event)">
          <button ion-button icon-only (click)="prev()">
            <ion-icon name="skip-backward"></ion-icon>
          </button>
          <button ion-button icon-only (click)="audioTrack.canPlay ? audioTrack.play() : next()">
            <ion-icon name="play"></ion-icon>
          </button>
          <button ion-button icon-only (click)="audioTrack.pause()">
            <ion-icon name="pause"></ion-icon>
          </button>
          <button ion-button icon-only (click)="next()">
            <ion-icon name="skip-forward"></ion-icon>
          </button>
          <audio-track-progress-bar duration progress [audioTrack]="audioTrack" style="width: 100%;"></audio-track-progress-bar>
          <div style="display: flex; justify-content: center; height: 50px">
            <div *ngIf="audioTrack && audioTrack.hasLoaded">
              <em>{{ audioTrack?.title }}</em>
            </div>
            <ion-spinner *ngIf="audioTrack && audioTrack.isLoading"></ion-spinner>
          </div>
        </audio-track>
      </ion-item>
      <ion-item *ngFor="let track of playlist; let i = index">
        <h2>{{ i + 1 }}. {{ track.title }}</h2>
        <p>{{ track.artist }}</p>
        <button ion-button icon-only item-end (click)="audioTrack.canPlay ? audioTrack.play() : next()">
          <ion-icon name="play"></ion-icon>
        </button>
        <button ion-button icon-only item-end (click)="removeTrack(i)">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-item>
    </ion-list> -->
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-navbar></ion-navbar>
</ion-footer>